@media (max-width: 1024px) {
	#logoBanner {
		margin-top:30px;
	}
	
	#siteChoice h1 {
		font-size:50px;}
		
	#desktop #siteChoice img {
		width:100px;}

@media (max-width: 767px) {
	.col-sm-6 {
		margin-top:40px;}
	}

@media (max-width: 600px) {
	
	#logoBanner img {
		width:80%;
		max-width:300px;}
		
	#siteChoice h1 {
		font-size:30px;}
		
	#desktop {
		display:none;}
		
	#mobile {
		display:block;}
		
	.iconChoice {
		width:100%;
		max-width:130px;}
		
	#mobile h1 {
		font-size:20px;
		margin-bottom:15px;}
}


@media (min-width: 400px) and (max-width:600px) {
	#mobile h1 {
		font-size:40px;
		}
	}