body {
	background-color:#2284c3;
	color:#ffffff;
	background-image:url(../img/landing-background.jpg);
	background-size:cover;}
	
#logoBanner {
	background-color:#ffffff;
	margin-top:50px;}
	
#siteChoice {
	background-color:rgba(0,0,0,0.05);
	margin-top:50px;
	padding:30px;}
	
#siteChoice h1 {
	color:#ffffff;
	font-size:60px;}
	
#mobile {
	display:none;}
	
.media-body {
	vertical-align:middle;
	display:inline-block;}
	
.stdpad {
	padding:20px;}
	
.halfpad {
	padding:10px;}
	
.landingCopyright {
	font-size:11px;}
	
.row {
	margin:0;}
	
.doublemart {
	margin-top:40px;}
