@media (max-width: 1024px) {
	.speechBubble {
		font-size:40px;
		line-height:50px;}
		
	#main-carousel img {
		width:100%;}
		
	.calculator {
		display:none;}
		
	.carousel-inner,
	.item {
		height:500px;
		max-height:500px;}
				
	#clients img {
		width:100%;
		max-width:615px;}
		
	.resp-tab-content h1 {
		margin-top:20px;
		font-size:26px;}
				
	}
	
@media (max-width: 1199px) {
	.navbar-brand img {
		width:120px;}
		
	.navbar-nav {
		margin-top:21px;}
		
	.navbar-nav > li > a {
		padding:10px 15px;
		font-size:11px;}
	}
	
@media (max-width: 991px) {
	.navbar-nav {
		margin-top:25px;}
	
	.navbar-nav > li > a {
		padding:5px;
	}
	
	#businessServices .servicesBanner {
		width:75%;}
	}
	
	
@media (max-width: 767px) {
	
	.backTop {
		display:block;}
	
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 10px 10px 20px;
	background-color:#f6f6f6;
  }
  
	.circleText {
		border:none;
		height:30px;
		width:100%;}
  
	#title-carousel, 
	#services-carousel h1  {
		font-size:30px;
		}
				
	.intro {
		font-size:14px;}
		
	.media-body {
		clear:both;}
	
	 
	.button {
		font-size:14px;
		padding:5px;
		}
	
	.speechBubble {
		font-size:30px;
		line-height:37px;
		padding:10px 20px 20px 20px;
		text-align:left;}
		
	.clearBoth {
		clear:both;}
		
	.smallBannerText {
		font-size:18px;}
		
	.carousel-inner,
	.item {
		height:455px;
		max-height:455px;}
		
	.navbar-toggle {
		margin-top:24px;}
	
	.navbar-brand img {
		width:120px;}
		
	.nav > li {
		border-bottom:1px solid #e6e6e6;}
		
	.dropdown-menu li {
		border-bottom:1px dotted #cccccc;}
		
	.quadpadv {
		padding-top:30px;
		padding-bottom:30px;}
		
	#message img {
		width:80%;
		max-width:350px;}
				
	#main-carousel .button {
		margin-bottom:30px;
		display:inline-block;}
				
	#main-carousel .col-sm-6 {
		text-align:center;}
		
	#main-carousel img {
		width:50%;
		max-width:200px;}
		
	.carousel-indicators {
		display:none;}
		
	.circleImg {
		width:120px;
		height:120px;
		margin:0 auto !important;}
		
	.media .pull-left {
		float:none !important;}
		
	.circleImg img {
		width:110%;}
	}
	
	
@media (max-width: 585px) {
	.servicesBanner li {
		list-style-type:none;
		width:33.33%;
		float:left;
		text-align:center;
		padding-top:10px;
		}
		
	#businessServices .servicesBanner {
		width:50%;}
		
	#businessServices .servicesBanner li {
		width:50%;}
		
	#services-carousel .carousel-inner,
	#services-carousel .item {
		height:420px;
		max-height:420px;}
		
	.servicesBanner img {
		width:80%;
		padding-top:10%;}
		
	.servicesBanner li a {
		width:80px;
		height:80px;
		-webkit-border-radius: 80px;
		-moz-border-radius: 80px;
		border-radius: 80px;
		}
		
	.servicesBanner li.startSecondRow {
		margin:0;}
		
	#calculators h1 {
		font-size:30px;}
		
	#googleMap {
		height:300px;}
						
	}
	
@media (max-width: 320px) {	

	#services-carousel .carousel-inner, 
	#services-carousel .item {
		height:440px;
		max-height:440px;}
		
	#calculators h1 {
		font-size:22px;
		padding-top:7px;}
		
	#googleMap {
		height:200px;}
		
	#businessServices .servicesBanner {
		width:75%;}
		
	#businessServices .servicesBanner li {
		width:50%;}
	
	
	}