.button {
	background-color:#f27f23;
	color:#ffffff;
	padding:5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration:none;
	border-bottom:5px solid #e17015;
	font-size:14px;
	font-weight:500;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	}

.bigButton {
	background-color:#f27f23;
	color:#ffffff;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration:none;
	border-bottom:5px solid #e17015;
	font-size:18px;
	font-weight:500;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	}
	
.bigButton:hover,	
.button:hover {
	color:#ffffff;}

.bigButton:hover,
.bigButton:visited,
.bigButton:focus,	
.button:hover,
.button:visited,
.button:focus {
	text-decoration:none;}
	
.backSpeech {
	background-image:url(../img/background-speech.png);
	background-repeat:no-repeat;
	background-position:center;}
	
.speechBubble {
	font-size:55px;
	background-color:#297bb0;
	color:#ffffff;
	line-height:62px;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:30px 40px 40px 40px;
	position:relative;}
	
.speechArrow {
	position:absolute;
	left:0;
	width: 0; 
	height: 0; 
	bottom:-30px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #297bb0;}
	
.speechArrowRight {
	position:absolute;
	right:0;
	width: 0; 
	height: 0; 
	bottom:-30px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid #297bb0;}
		
.bold {
	font-style:normal;
	font-weight:bold;}
	
.gradientTop {
background: -moz-linear-gradient(top,  rgba(32,102,148,0.65) 0%, rgba(32,102,148,0) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,102,148,0.65)), color-stop(100%,rgba(32,102,148,0))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(32,102,148,0.65) 0%,rgba(32,102,148,0) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(32,102,148,0.65) 0%,rgba(32,102,148,0) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(32,102,148,0.65) 0%,rgba(32,102,148,0) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(32,102,148,0.65) 0%,rgba(32,102,148,0) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6206694', endColorstr='#00206694',GradientType=0 ); /* IE6-9 */


	height:50px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	}
	
.gradientTopBlack {
background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */



height:50px;
width:100%;
position:absolute;
top:0;
left:0;

	}
	
.gradientBottom {
	height:50px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background: -moz-linear-gradient(top,  rgba(32,102,148,0) 0%, rgba(32,102,148,0.65) 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,102,148,0)), color-stop(100%,rgba(32,102,148,0.65))); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  rgba(32,102,148,0) 0%,rgba(32,102,148,0.65) 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  rgba(32,102,148,0) 0%,rgba(32,102,148,0.65) 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  rgba(32,102,148,0) 0%,rgba(32,102,148,0.65) 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  rgba(32,102,148,0) 0%,rgba(32,102,148,0.65) 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00206694', endColorstr='#a6206694',GradientType=0 ); /* IE6-9 */

	}
	
	
.gradientBottomBlack {
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */

height:50px;
width:100%;
position:absolute;
bottom:0;
left:0;	
	}
	
	footer {
		background-color:#2e3133;
		width:100%;
		min-height:290px;}
		
	footer h6 {
		color:#ffffff;
		font-size:18px;
		font-weight:500;}
		
	footer ul {
		list-style-type:none;
		padding:0;}
		
	footer ul a {
		color:#f9f9f9;
		font-weight:300;
		display:block;
		}
		
	footer li {
		padding-bottom:5px;
		padding-top:5px;
		color:#ffffff;}
		
	footer ul a:hover {
		color:#ffffff;}
		
	.copyright {
		background-color:#222527;
		width:100%;
		min-height:50px;
		color:#d0d0d4;
		font-size:11px;
		padding-top:12px;}
		
.calculator {
	position:absolute;
	bottom:-170px;
	z-index:100;
	cursor:pointer;
	}
		
.circleImg {
	border:10px solid #f6fafc;
	text-align:center;
	height:160px;
	width:160px;
	-webkit-border-radius: 160px;
	-moz-border-radius: 160px;
	border-radius: 160px;
	overflow:hidden;
	-webkit-box-shadow: inset 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 3px 5px 0px rgba(50, 50, 50, 0.75);		
	}
	
.circleText {
	border:10px solid #f6fafc;
	text-align:center;
	height:160px;
	width:160px;
	background-color:#318CC7;
	-webkit-border-radius: 160px;
	-moz-border-radius: 160px;
	border-radius: 160px;
	overflow:hidden;
	display:table;
	vertical-align:middle;
	padding-left:15px;
	padding-right:15px;
	}
	
.circleText .name {
	font-size:18px;
	font-weight:500;
	color:#ffffff;
	vertical-align:middle;
	display:table-cell;}
	
.doublemart {
	margin-top:40px;}
	
.media-body {
	background-color:#f6fafc;
	padding:20px;
	}
	
.blue {
	color:#127bbf;}
	
.orange {
	color:#f27f23;}
	
.quoteRibbon {
	background-color:#2e3133;
	color:#ffffff;
	font-size:18px;
	font-weight:500;
	padding:20px;
	position:absolute;
	left:212px;
	top:30%;
	width:250px;
	z-index:10;
	}
	
.smallBannerText {
	font-size:27px;}
	
#clients {
	background-color:#f5f3f3;}
	
.alignCenter {
	text-align:center;}
		
#featurePods h2 {
	text-align:center;}
	
.stdpad {
	padding:20px;}
	
.halfpad {
	padding:10px;}
	
.doublepadv {
	padding-top:40px;
	padding-bottom:40px;}
	
.quadpadv {
	padding-top:80px;
	padding-bottom:80px;}
	
.quadpadb {
	padding-bottom:80px;}
	
.stdpadv {
	padding-top:20px;
	padding-bottom:20px;}
	
.blueWrap {
	width:100%;
	background-color:#f1f7fb;}

#services-carousel .carousel-inner,
#services-carousel .item {
	height:420px;
	max-height:420px;}
	
.servicesBanner {
	width:100%;
	text-align:center;
	padding:0;
	}
	
#businessServicesBanner #services-carousel .carousel-inner, 
#businessServicesBanner #services-carousel .item {
	height:360px;
	max-height:360px;
	}
	
#businessServices .servicesBanner li {
	width:25%;}
	
#businessServices .servicesBanner {
	width:50%;
	margin:0 auto;}
	
.servicesBanner li {
	list-style-type:none;
	width:20%;
	float:left;
	text-align:center;
	padding-top:10px;
	}
	
.servicesBanner li.startSecondRow {
	margin-left:10%;}
	
.servicesBanner li a {
	text-align:center;
	margin:0 auto;
	background-color:#106ca8;
	width:100px;
	height:100px;
	display:block;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	opacity:0.5;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
	outline:0;
	}
	
.servicesBanner img {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
	}
	
.servicesBanner li a:hover,
.servicesBanner li a.active {
	opacity:1;}
	
.servicesBanner li a.active {
	background-color:#F27F23;	}
	
.doublepad {
	padding:40px;}
	
.dottedBorder {
	border-bottom:1px dotted #cccccc;}
	
.pageTitle {
	margin:0;}
	
.iconSearch {
	background-image:url(../img/icon-search.png);
	width:22px;
	height:22px;
	display:block;}
	
.dropdown.open .iconSearch {
	background-image:url(../img/icon-search-active.png);}
	
.searchDrop .dropdown-menu {
	left:auto;
	right:0;
	width:285px;}
	
.numberCount {
    background-color: #ADADAD;
    border-radius: 20px;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 10px;
	}
	
.resp-tab-active .numberCount {
	background-color:#45494D;}
	
#title-carousel,
#services-carousel h1 {
	font-size:60px;
	color:#ffffff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	}

#services-carousel {
	color:#ffffff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	}

#title-carousel,	
#title-carousel .carousel-inner,
#title-carousel .item {
	height:112px;
	max-height:112px;
}
	
.stdpadb {
	padding-bottom:20px;}
	
.numberCircles {
	padding:0;
	}

.numberCircles li {
	list-style-type:none;
	padding-left:30px;
	padding-top:10px;
	padding-bottom:10px;
	background-position:0 13px;
	background-repeat:no-repeat;
	}	
	
.numberCircles li.one {
	background-image:url(../img/step1.png);
	}
	
.numberCircles li.two {
	background-image:url(../img/step2.png);
	}
	
.numberCircles li.three {
	background-image:url(../img/step3.png);}
	
.numberCircles li.four {
	background-image:url(../img/step4.png);}
	
.stdmarr {
	margin-right:10px;}
	
.blueBack {
	background-color:#F1F7FB;}
	
.media-body h3 {
	margin-top:0;}
	
#title-carousel img {
	margin-right:15px;
	margin-top:-13px;}
	
.intro {
	font-size:16px;}
	
	
.backTop {
	display:none;
	margin-top:40px;}
	
.office01 {
	background-image:url(../img/office-01.jpg);
	background-position:center;
	background-size:cover;}
	
.office02 {
	background-image:url(../img/office-02.jpg);
	background-position:center;
	background-size:cover;}
	
.quoteName {
	display:inline-block;
	font-size:18px;
	padding:10px;
	color:#ffffff;
	background-color:rgba(0,0,0,0.42);}
		
	